# Environment variables needed for testing with the MCP Inspector

# Webpublication API Configuration
API_URL=XXXX
DRIVE_URL=XXXX

# Client ID for authentication
CLIENT_ID=XXXX

# WP Token for Cookie authentication
WP_TOKEN=XXXX
